$color1: #ff4500;
$color2: #272727;
$color3: #fefefe;
$color4: #a9a9a9;
$color5: #bdbdbd;
$color6: #efefef;
$hover:#18bfef;
$btn-transition: all 0.3s ease-in-out;
$menu-transition: all 0.7s ease-in-out;